<div class="main-container">
  <div class="ferry-details">
    <div class="labels">
      <div>
        <p style="display: inline-block;" class="ferry-label">
          Ferry:
        </p>
        <input style="display: inline-block;" class="ferry-name" type="text">
      </div>
      <div>
        <p style="display: inline-block;">
          Longitude:
        </p>
        <input style="display: inline-block;" class="coords" type="number">
      </div>
      <div>
        <p style="display: inline-block;">
          Latitude:
        </p>
        <input style="display: inline-block;" class="coords" type="number">
      </div>
    </div>
  </div>
  <div class="port-info">
    <p class="header">Connected to port: </p>
    <button class="btn">Connect to port</button>
  </div>
</div>