<div class="main-container">
  <p class="header">Auto simulation:</p>
  <div class="left-block">
    <div>
      <p>
        Entry Frequency(S):
      </p>
      <input class="number" type="number">
    </div>
    <div>
      <p >
        Time Btw GWs:
      </p>
      <input class="number" type="number">
    </div>
    <div>
      <p>
        # repeats
      </p>
      <input class="number" type="number">
    </div>
  </div>
  <div class="right-block">
    <p>
      File:
    </p>
    <input class="normal" readonly type="text">
    <button class="btn">Browse</button>
    <input type="file" style="display:none">
    <div>
      <h2 style="visibility: hidden;">WTF</h2>
    </div>
  </div>
  <div>
    <p class="rigalo">Unload:</p>
    <mat-radio-button color="warn" style="margin-right: 20px;">Before Load</mat-radio-button>
    <mat-radio-button color="warn">In Parallel</mat-radio-button>
    <button class="btn" style="margin-right: 10px; margin-left: 10px">Run</button>
    <button class="btn" style="margin-right: 10px; margin-left: 10px">Stop</button>
  </div>
</div>
